<style type="text/css">
    a {text-decoration: none; color: inherit;}
    body {letter-spacing: 0.1rem; color: #776f70;}

    .block {margin: 15px 0 15px 0;}

    .hidden {
        display: none;
    }

    .bg {
        height: 60px;
        background-color: #333333;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
        font-weight: 600;
        color: #c4c4c4;
    }

    .hidden {display: none; visibility: hidden;}
    .overflowHidden {overflow: hidden;}

    .top-block {
        align-items: center;
        font-size: x-large;
        font-weight: 600;
    }

    .top-block_logo {color: #fd9c3a;}

    .top-block_mobile-contact {
        text-align: end;
        font-size: 48px;
        font-weight: 800;
    }
    .top-block_mobile-contact span {
        color: #fd9c3a;
        font-style: italic;

    }

    .nav_items {
        height: 60px;
        border-radius: 8px;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    }

    .nav_item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #333333;
        font-size: small;
        font-weight: 600;
    }

    .nav_item span {color: #c4c4c4;}
    .nav_item:hover span {color: #fd9c3a; border-bottom: #fd9c3a solid 2px;}

    .reg {
        width: 300px;
        margin: 0 auto;
    }

    .reg_block {
        margin: 34px 0;
    }

    .reg-btn {margin-top: 18px;}

    .post_btns a {padding-right: 10px;}

    .footer_my_link:hover {color: #fd9c3a;}
    
    .bg--border-top {border-radius: 8px 8px 0 0;}

    .created-by {text-align: end;}
</style>