{% extends "layout.html" %}

{% block style %}
    <style type="text/css">
        .to-comment {
            width: 100%;
            border: hidden;
            border-bottom: 2px solid blue;
        }
        .to-comment:focus {border: inherit;}
        .comment span {font-style: italic; font-weight: 600;}
        .block-comments {width: 90%;}
        .block-comments ul {list-style: none;}
    </style>
{% endblock style %}

{% block content %}
    <div class="container text-left relative_block" style="width: 1040px;">
        <div class="card mb-3">
            <img src="{{ url_for('static', filename='post_images/' + post.post_image) }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Автор: <a href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a></p>
                <h3 class="card-title">{{ post.title }}</h3>
                <p class="card-text">{{ post.content }}</p>
                <hr>
                <div class="post_btns row justify-content-end">
                    <div class="col-8">
                        <p class="card-text">
                            <small class="text-muted">
                                Последнее обновление {{ post.date_posted.strftime('%A, %d %B %Y %I:%M %p') }}
                            </small>
                        </p>
                    </div>
                    {% if post.author == current_user %}
                        <div class="post_btn col-2 text-center">
                            <a href="{{ url_for('posts.update_post', post_id=post.id) }}" class="btn btn-primary">Редактировать</a>
                        </div>
                        <div class="post_btn col-2 text-center">
                            <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                              <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                        </div>
                    {% else %}
                        {% if liked %}
                            <div class="post_btn col-3 text-center">
                                <small class="text-muted">
                                    Вы уже поставили like
                                </small>
                            </div>
                        {% else %}
                            <div class="post_btn col-2 text-center">
                                <form action="{{ url_for('posts.like_post', post_id=post.id) }}" method="POST">
                                    <input class="btn btn-primary" type="submit" value="Нравится">
                                </form>
                            </div>
                        {% endif %}
                        <div class="col-1 text-center">
                            <small class="text-muted">
                                <img src="{{ url_for('static', filename='images/like_mini.png') }}" alt="">
                                {{ post.total_likes }}
                            </small>
                        </div>
                    {% endif %}                
                </div><br>
                <form action="{{ url_for('posts.add_comment', post_id=post.id) }}" method="POST">
                    <input name="comment" type="text" class="to-comment" placeholder="Оставьте комментарий" autocomplete="off">
                    <br><br>
                    <input class="btn btn-primary" type="submit" value="Комментировать">
                </form><br>
                <div class="block-comments">
                    {% for c in comments %}
                    <ul>
                        {% if c.is_deleted == False %}
                            <a href="{{ url_for('users.user_posts', username=post.author.username) }}" style="font-weight: 800;">{{ c.username }}: </a>{{ c.content }}
                            <p><small>Дата: {{ c.date_commented.strftime('%A, %d %B %Y %I:%M %p') }}</small></p>
                            {% if c.username == current_user.username %}
                                <form action="{{ url_for('posts.delete_comment', comment_id=c.id, post_id=post.id)}}" method="POST">
                                    <input class="btn btn-primary" type="submit" value="Удалить">
                                </form>
                            {% endif %}
                        {% endif %}  
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

